<!DOCTYPE html>
<html>
  <head>
    <title>Apartment Find</title>
    <% css :application %>
    <%= css %>
  </head>
  <body>
    <div class='container'>

      <div class='hero-unit'>
        <h1>Apartment Find <small>Digging through Craigslist made easy!</small></h1>
      </div>

    </div>
  </body>
</html>
